# National Health and Nutrition Examination Survey (NHANES)
[https://wwwn.cdc.gov/nchs/nhanes/](https://wwwn.cdc.gov/nchs/nhanes/)

Este laboratório usará dados extraídos do NHANES.

## NHANES datasets from 2013-2014

Foram extraídos dados do [NHANES 2013-2014](https://wwwn.cdc.gov/nchs/nhanes/continuousnhanes/default.aspx?BeginYear=2013).

Os dados estão disponíveis em arquivos CSV no diretório `/data/nhanes`. Lá está disponível a documentação do esquema dos arquivos.

# Tarefa 1 - Esquema Relacional

Analise os arquivos CSV que estão no diretório `/data/nhanes` e escreva um esquema relacional referente às tabelas, suas chaves primárias e estrangeiras (não é SQL ainda). Coloque a chave primária com dois underlines antes e dois depois:

\__teste\__

demographic-person(__id__, gender, age)

medications-drug(__code__, name)

medications-use(person_id, drug_code, __days_use__)

CHE -> person_id para demographic-person

CHE -> drug_code para medications-drug

## Criação das Tabelas em SQL e Importação de Dados

Considere o seguinte exemplo em que é criada uma tabela em SQL e importado dados do arquivo CSV `demographic-person.csv`.

In [11]:
%defaultDatasource jdbc:h2:mem:db

In [12]:
CREATE TABLE Pessoa (
  Id VARCHAR(5) NOT NULL,
  Gender INTEGER,
  Age INTEGER,
  PRIMARY KEY(Id)
) AS SELECT
    id,
    gender,
    age
FROM CSVREAD('../../../data/nhanes/demographic-person.csv');

org.h2.jdbc.JdbcSQLException:  Table "PESSOA" already exists; SQL statement

In [13]:
SELECT * FROM Pessoa;

# Tarefa 2 - Criação das Tabelas em SQL e Importação de Dados

Escreva instruções SQL para montar as duas tabelas restante, conforme definido no esquema relacional da **Tarefa 1**.

**Importante:** não defina chave primária para a tabela de uso de medicamento.

Durante a criação das tabelas, realize a importação dos dados do arquivo CSV nas tabelas criadas, conforme exemplo anterior.

In [14]:
CREATE TABLE Medicamentos (
  Name VARCHAR NOT NULL,
  Code VARCHAR(6) NOT NULL,
  PRIMARY KEY(Code)
) AS SELECT
    name,
    code
FROM CSVREAD('../../../data/nhanes/medications-drug.csv');

org.h2.jdbc.JdbcSQLException:  Table "MEDICAMENTOS" already exists; SQL statement

In [15]:
SELECT * FROM Medicamentos;

In [16]:
CREATE TABLE UsoMedicamentos (
  PersonId VARCHAR(5) NOT NULL,
  DrugCode VARCHAR NOT NULL,
  DaysUse INTEGER
) AS SELECT
    person_id,
    drug_code,
    days_use
FROM CSVREAD('../../../data/nhanes/medications-use.csv');

org.h2.jdbc.JdbcSQLException:  Table "USOMEDICAMENTOS" already exists; SQL statement

In [17]:
SELECT * FROM UsoMedicamentos;

# Tarefa 3 - Consultas Simples

Execute as consultas a seguir.

a) Liste pessoas com idade acima de 60

In [18]:
SELECT * FROM Pessoa WHERE age>60;

b) Liste as idades das pessoas cadastradas (sem repetições)

In [19]:
SELECT DISTINCT age FROM Pessoa;

c) Liste código das pessoas, idade, código dos medicamentos que usaram e dias de uso

In [24]:
SELECT Pessoa.Id, Pessoa.Age, UsoMedicamentos.DrugCode, UsoMedicamentos.DaysUse FROM Pessoa, UsoMedicamentos WHERE Pessoa.id = UsoMedicamentos.PersonId;

d) Liste código das Pessoas, idade, nome dos medicamentos que usaram e quantos dias de uso

In [25]:
SELECT Pessoa.Id, Pessoa.Age,Medicamentos.Name, UsoMedicamentos.DaysUse FROM Pessoa, UsoMedicamentos, Medicamentos WHERE Pessoa.id = UsoMedicamentos.PersonId and Medicamentos.Code = UsoMedicamentos.DrugCode;

e) Liste nome dos medicamentos que foram usados por pessoas (sem repetições)

In [26]:
SELECT DISTINCT name FROM Medicamentos;

f) Liste nome dos medicamentos usados por mais de 2.000 dias (sem repetições)

In [28]:
SELECT Medicamentos.Name,  FROM Medicamentos, UsoMedicamentos WHERE UsoMedicamentos.DaysUse>2000 and Medicamentos.Code = UsoMedicamentos.DrugCode;